version: "2.2"
services:
  app:
    container_name: billman
    restart: always
    build: .
    ports: 
      - 5015:5015
    links:
      - mongo
  mongo:
    container_name: billmanmongo
    image: mongo
    volumes: 
      - billmanmongodata:/data/db
    ports:
      - "5021:27017"
volumes:
    jvmongodata:
      external: true